# Assignments

Q1. Write the Python function to get a string made of 4 copies of the last
two characters of the specified string (length must be at least 2).

    Sample function and result :
    insert-end ('Python') -> abababab
    insert-end('Exercises') -> jkjkjkjk

In [4]:
def last_2char(str):
  if len(str)>=2:
    return str[-2:]*4
  return "Length is not enough"

print(last_2char("hellowygdh"))
print(last_2char('h'))

dhdhdhdh
Length is not enough

Q2. Write the python function to get a string made of its first three
characters of a specified string. If the length of the string is less than 3
then return the original string.
    
    Sample function and result :
    first-three('ipy') -> ipy
    first-three('python') -> pyt

In [2]:
def first_three(str):
  if len(str) > 3:
    return str[0:3]
  return str

str1 = first_three('ipynb')
str2 = first_three('py')
print(str1)
print(str2)

ipy
py

Q3. Write the Python program to find smallest window that contains all
characters of the given string?

    Original Strings:
    asdaewsqgtwwsa
    Smallest window that contains all characters of the said string:
    Daewsqgt

In [0]:
def unique(str):
  total = 0
  unique_list = []
  for i in range(0,len(str)):
    if str[i] not in unique_list:
      unique_list.append(str[i])
      total += 1
  return total, unique_list

str = 'asdaewsqgtwwsa'
total, unique_list = unique(str)

Q4. Write the Python program to count number of substrings from a
given string of lowercase alphabets with exactly k distinct (given)
characters?

    Input a string (lowercase alphabets): wolf
    Input k: 4
    Number of substrings with exactly 4 distinct characters: 1

In [17]:
def count_distict_string(str, k): 
    length_of_string = len(str) 
    total = 0
    count = []
    for i in range(27):
      count.append(0)
    
    for i in range(0, length_of_string): 
        distinct_count = 0
        count = [0] * 27
        for j in range(i, length_of_string): 
            if(count[ord(str[j]) - 97] == 0): 
               distinct_count += 1
            count[ord(str[j]) - 97] += 1
  
            if(distinct_count == k): 
                total += 1
            if(distinct_count > k): 
                break
  
    return total      
  

str = "iNeuron"
k = 3
print("Total substrings with exactly {} k distinct characters is {}".format(k,count_distict_string(str, k)))

Total substrings with exactly 3 k distinct characters is 5

Q5. Write the Python program to count number of non-empty
substrings of the given string?

    Input a string: w3resource
    Number of substrings:
    55

In [11]:
def count_total_substring(str): 
    length = len(str); 
    answer = int(length * (length + 1) / 2); 
    return answer
  
str = "w3resource"; 
print (count_total_substring(str));

55

Q6. Write the Python program to count the number of strings where the
string length is 2 or more, and first and last character are same
from a given list of strings.

    Sample List : ['abc', 'xyz', 'wxw', '1331']
    Expected Result: 2

In [14]:
def count_str(list1):
  total = 0
  for element in list1:
      if len(element) >=2 and element[0] == element[-1]:
          total+=1
  print(total)

list1 = ['abc', 'xyz', 'wxw', '1331','a']
count_str(list1)

2

Q7. Write the Python program to get a list, sorted in increasing order by
the last element in each tuple from the given list of non-empty
tuples?

    Sample List - [ (2, 5), (1, 2), (4, 4), (2, 3), (2, 1) ]
    Expected Result - [ (2, 1), (1, 2), (2, 3), (4, 4), (2, 5) ]

In [15]:


list1 = [ (2, 5), (1, 2), (4, 4), (2, 3), (2, 1) ]
result= sorted(list1, key=lambda last_char : last_char[-1])
print(result)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Q8. Write the Python program to remove duplicates from a list?

In [16]:
def Remove_Duplicate(duplicate): 
    answer = [] 
    for i in duplicate: 
        if i not in answer: 
            answer.append(i) 
    return answer 
      
# Driver Code 
list1 = [11,22,333,44,5,44,66,333,5,5,5,777,66] 
print(Remove_Duplicate(list1))

[11, 22, 333, 44, 5, 66, 777]

Q9. Write the Python program to find the list of words that are longer
than n from a given list of words?

In [19]:
def find_longer(list1,n):
    answer = []
    for item in list1:
      if len(item)>n :
        answer.append(item)
    print(answer)

list1 = ['abc', 'xyz', 'wxw', '1331','a']
find_longer(list1,2)

['abc', 'xyz', 'wxw', '1331']

Q10. Write the Python program to print a specified list after removing the
0th, 4th, and 5th elements?
    
    Sample List - ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
    Expected Output - ['Green', 'White', 'Black']

In [32]:
def list_remove_element(list1,list_remove_index):
    result = []
    for i in range(0,len(list1)):
        if i>= len(list1):
          continue
        elif i not in list_remove_index:
          result.append(list1[i])
    return result


list_remove_index=[0,4,5]
list1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(list_remove_element(list1,list_remove_index))

['Green', 'White', 'Black']

Q11. Write the Python program to generate all permutations of a list in
Python?

In [33]:
from itertools import permutations 
answer = list(permutations(range(1, 4))) 
print(answer)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

Q12. Write the Python program to convert a pair of values into a sorted
unique array?
 
    Original List- [ (1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10) ]
    Sorted Unique Data- [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

In [36]:
def sorted_array(list1):
  answer = []
  for i in range(0,len(list1)):
      for j in range(2):
        if list1[i][j] not in answer:
          answer.append(list1[i][j])
  answer = sorted(answer)
  return answer

print(sorted_array([ (1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10) ]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Great job!